[Unit]
Description=Speedtest server
After=gluetun.service
BindsTo=gluetun.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/librespeed/speedtest:latest
ContainerName=librespeed
HostName=librespeed
AutoUpdate=registry

Network=

Volume=/volumes/librespeed/database:/database

Environment=MODE=standalone
Environment=TITLE=Librespeed
Environment=TELEMETRY=false
Environment=DB_TYPE=
Environment=ENABLE_ID_OBFUSCATION=false
Environment=REDACT_IP_ADDRESSES=false
Environment=PASSWORD=
Environment=EMAIL=
Environment=DISABLE_IPINFO=false
Environment=IPINFO_APIKEY=
Environment=DISTANCE=km

