[Unit]
Description=Five Filters Quadlet

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/heussd/fivefilters-full-text-rss:latest
ContainerName=fivefilters

Network=freshrss.network
HostName=fivefilters
PublishPort=5000:80

Secret=ftr-admin-password,type=env,target=FTR_ADMIN_PASSWORD
