[Unit]
Description=Five Filters Quadlet

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/heussd/fivefilters-full-text-rss:latest
ContainerName=fivefilters
HostName=fivefilters

PublishPort=5000:80

Environment=FTR_ADMIN_PASSWORD=XXXXXXXX