[Unit]
Description=FreshRSS Quadlet
After=fivefilters.service

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/linuxserver/freshrss:latest
ContainerName=freshrss
HostName=freshrss

PublishPort=4422:80

Volume=freshrss-config:/config:z

Environment=PUID=1001
Environment=PGID=1001
Environment=TZ=Europe/London