[Unit]
Description=Tandoor nginx
Wants=tandoor.service
Wants=tandoor-db.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/nginx:mainline-alpine
ContainerName=tandoor-nginx
AutoUpdate=registry

Network=tandoor.network
HostName=tandoor-nginx

Volume=tandoor-nginx-config:/etc/nginx/conf.d
Volume=tandoor-static:/static
Volume=tandoor-media:/media
Volume=tandoor-external:/opt/recipes/externalfiles

EnvironmentFile=tandoor.env

