[Unit]
Description=Affine
After=affine-migration.service
After=affine-postgres.service
After=affine-valkey.service
Requires=affine-migration.service
Requires=affine-postgres.service
Requires=affine-valkey.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/toeverything/affine:stable
ContainerName=affine
AutoUpdate=registry

Network=affine.network
HostName=affine
PublishPort=3010:3010

Volume=affine-upload:/root/.affine/storage
Volume=affine-config:/root/.affine/config

EnvironmentFile=affine.env
Environment=REDIS_SERVER_HOST=affine-valkey
Environment=DATABASE_URL=postgresql://affine-postgres:affine-postgres-password:5432/affine
Environment=AFFINE_INDEXER_ENABLED=false
