[Unit]
Description=Leantime task management
Requires=leantime-mysql.service
After=leantime-mysql.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/leantime/leantime:latest
ContainerName=leantime
AutoUpdate=registry

AddCapability=CAP_NET_BIND_SERVICE
AddCapability=CAP_CHOWN
AddCapability=CAP_SETGID
AddCapability=CAP_SETUID

Network=leantime.network
HostName=leantime
PublishPort=8080:8080

Volume=leantime-public-userfiles:/var/www/html/public/userfiles
Volume=leantime-userfiles:/var/www/html/userfiles
Volume=leantime-plugins:/var/www/html/app/Plugins
Volume=leantime-logs:/var/www/html/storage/logs

EnvironmentFile=leantime.env

Secret=leantime-session-password,type=env,target=LEAN_SESSION_PASSWORD
Secret=leantime-db-password,type=env,target=LEAN_DB_PASSWORD
