[Unit]
Description=Postiz social media management
Requires=postiz-postgres.service
Requires=postiz-redis.service
After=postiz-postgres.service
After=postiz-redis.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/gitroomhq/postiz-app:latest
ContainerName=postiz
AutoUpdate=registry

Network=
HostName=postiz
PublishPort=5000:5000

Volume=postiz-config:/config
Volume=postiz-uploads:/uploads

Environment=MAIN_URL=https://postiz.example.com
Environment=FRONTEND_URL=https://postiz.example.com
Environment=NEXT_PUBLIC_BACKEND_URL=https://postiz.example.com/api

## Make this whole env var a podman secret to hide the password
## Secrets do not populate the env before Environment is established
## Secret=postiz-db-url,type=env,target=DATABASE_URL
Environment=DATABASE_URL=postgresql://postiz-user:postiz-password@postiz-postgres:5432/postiz-db-local
Environment=redis://postiz-redis:6379
Environment=BACKEND_INTERNAL_URL=http://localhost:3000
Environment=IS_GENERAL=true

Environment=STORAGE_PROVIDER=local
Environment=UPLOAD_DIRECTORY=/uploads
Environment=NEXT_PUBLIC_UPLOAD_DIRECTORY=/uploads

Secret=postiz-jwt,type=env,target=JWT_SECRET
