[Unit]
Description=Overlay VPN

Wants=netbird-signal.service
Wants=netbird-relay.service

[Container]
ContainerName=netbird
Image=docker.io/netbirdio/dashboard:latest
EnvironmentFile=./netbird.env

Volume=netbird-letsencrypt:/etc/letsencrypt

PublishPort=

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
