[Unit]
Description=Overlay VPN

Wants=netbird-signal.service
Wants=netbird-relay.service

[Container]
ContainerName=netbird
Image=docker.io/netbirdio/dashboard:latest
EnvironmentFile=./netbird.env
Volume=/volumes/netbird/etc/letsencrypt:/etc/letsencrypt
Network=protonvpn
PublishPort=    # (Optional) Ports to expose (host:container)
Exec=           # (Optional) Custom command to run in the container
PodmanArgs=     # (Optional) Additional Podman arguments

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target       # (Optional) Target to start with (default: multi-user.target). For graphical user interface systems default.target
