[Unit]
Description=Audiobookshelf Quadlet

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/advplyr/audiobookshelf:latest
ContainerName=audiobookshelf

Network=audiobookshelf.network
HostName=audiobookshelf
PublishPort=13378:80

Volume=audiobookshelf-config:/metadata
Volume=audiobookshelf-metadata:/config
Volume=audiobookshelf-audiobooks:/audiobooks
