[Unit]
Description=Foundry VTT Quadlet
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target

[Container]
Image=docker.io/felddy/foundryvtt:release
ContainerName=foundryvtt
HostName=foundryvtt
#AutoUpdate=registry

# Set this instead to expose it locally for asset uploads etc
Volume=./foundryvtt:/data:z
#Volume=foundryvtt-data:/data

Network=foundryvtt.network
PublishPort=30000:30000

Environment=TIMEZONE=
Environment=FOUNDRY_UID=
Environment=FOUNDRY_GID=
Environment=FOUNDRY_PASSWORD=
Environment=FOUNDRY_USERNAME=
Environment=FOUNDRY_ADMIN_KEY=
Environment=FOUNDRY_LICENSE_KEY=XXXX-XXXX-XXXX-XXXX-XXXX-XXXX
Environment=FOUNDRY_HOT_RELOAD=true
Environment=CONTAINER_PRESERVE_CONFIG=true
Environment=CONTAINER_CACHE="/data/container_cache"