[Unit]
Description=Foundry VTT Quadlet

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/felddy/foundryvtt:release
ContainerName=foundryvtt
AutoUpdate=registry

Network=foundryvtt.network
HostName=foundryvtt
Volume=foundryvtt-data:/data

PublishPort=30000:30000

Environment=TIMEZONE=Etc/UTC
Secret=foundry-password,type=env,target=FOUNDRY_PASSWORD
Environment=FOUNDRY_USERNAME=
Secret=foundry-admin-key,type=env,target=FOUNDRY_ADMIN_KEY
Secret=foundry-license-key,type=env,target=FOUNDRY_LICENSE_KEY=XXXX-XXXX-XXXX-XXXX-XXXX-XXXX
Environment=FOUNDRY_HOT_RELOAD=false
Environment=CONTAINER_PRESERVE_CONFIG=true
Environment=CONTAINER_CACHE="/data/container_cache"
