[Unit]
Description=Checkmate
Requires=checkmate-server.service
After=checkmate-server.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/bluewaveuptime/uptime_client:latest
ContainerName=checkmate
AutoUpdate=registry

Network=checkmate.network
HostName=checkmate
PublishPort=80:80
PublishPort=443:443

Environment=UPTIME_APP_API_BASE_URL=http://localhost:5000/api/v1
