[Unit]
Description=Forgejo
After=

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=codeberg.org/forgejo/forgejo:10
ContainerName=forgejo
AutoUpdate=registry

Network=forgejo.network
HostName=forgejo
PublishPort=222:22
PublishPort=3000:3000

Volume=forgejo-data:/data
