[Unit]
Description=Authelia

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/authelia/authelia
ContainerName=authelia
AutoUpdate=registry

Network=authelia.network
HostName=authelia

Volume=./config:/config

Environment=AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/secrets/JWT_SECRET
Environment=AUTHELIA_SESSION_SECRET_FILE=/secrets/SESSION_SECRET
Environment=AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE=/secrets/STORAGE_PASSWORD
Environment=AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/secrets/STORAGE_ENCRYPTION_KEY

Secret=authelia-jwt-secret,type=mount,target=/secrets/JWT_SECRET
Secret=authelia-session-secret,type=mount,target=/secrets/SESSION_SECRET
Secret=authelia-storage-password,type=mount,target=/secrets/STORAGE_PASSWORD
Secret=authelia-storage-encryption-key,type=mount,target=/secrets/STORAGE_ENCRYPTION_KEY
