[Unit]
Description=Time tracking
Wants=kimai-db.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/kimai/kimai2:apache
ContainerName=kimai
HostName=kimai

Network=protonvpn

Volume=/volumes/kimai/var/plugins:/var/plugins
Volume=/volumes/kimai/var/data:/var/data

Environment=ADMINMAIL=admin@kimai.localdomain
Environment=DATABASE_URL="mysql://kimaiuser:kimaipassword@sqldb/kimai?charset=utf8mb4&serverVersion=8.3.0"

Secret=kimai-db-pass,type=env,target=ADMINPASS
