[Unit]
Description=Kimai database


[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/mysql/mysql:8.3
ContainerName=kimai-db
HostName=kimai-db

Network=protonvpn

Volume=/volumes/kimai/var/lib/mysql:/var/lib/mysql

Environment=MYSQL_DATABASE=kimai
Environment=MYSQL_USER=kimaiuser

Secret=mysql-kimai-pw,type=env,target=MYSQL_PASSWORD
Secret=mysql-kimai-root-pw,type=env,target=MYSQL_ROOT_PASSWORD
