[Unit]
Description=OpenObserve

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=public.ecr.aws/zinclabs/openobserve:latest
ContainerName=openobserve
AutoUpdate=registry

Network=openobserve.network
HostName=openobserve
PublishPort=5080:5080

Volume=openobserve-data:/data

Environment=ZO_ROOT_USER_EMAIL=root@example.com

Secret=openobserve-root-user-password,type=env,target=ZO_ROOT_USER_PASSWORD
