[Unit]
Description=Homarr

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/ajnart/homarr:latest
ContainerName=homarr

Network=homarr.network
HostName=homarr

Volume=homarr-configs:/app/data/configs
Volume=homarr-icons:/app/public/icons
