[Unit]
Description=Homarr
After=network-online.target

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/ajnart/homarr:latest
ContainerName=homarr
HostName=homarr

Network=
#PublishPort=7575:7575

Volume=/volumes/homarr/app/data/configs:/app/data/configs
Volume=/volumes/homarr/app/public/icons:/app/public/icons
