[Unit]
Description=Homepage

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/gethomepage/homepage:latest
ContainerName=homepage
AutoUpdate=registry

Network=homepage.network
HostName=homepage
PublishPort=3000:3000

Volume=homepage-config:/app/config

Environment=HOMEPAGE_ALLOWED_HOSTS=homepage.example.com

