[Unit]
Description=qbittorrent client
Requires=gluetun.service
After=gluetun.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/qbittorrentofficial/qbittorrent-nox:$qbt_version
ContainerName=qbittorrent
AutoUpdate=registry

Network=container:gluetun
HostName=qbittorrent

Volume=qbittorrent-config:/config
Volume=qbittorrent-downloads:/downloads

Environment=QBT_LEGAL_NOTICE=confirm
Environment=QBT_VERSION=$qbt_version
Environment=TZ=Etc/UTC

