[Unit]
Description=Bookmark Manager
After=network-online.target

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/hoarder-app/hoarder:0.18.0
ContainerName=hoarder
HostName=hoarder

Network=protonvpn
PublishPort=3095:3000

Volume=/volumes/hoarder/data:/data

EnvironmentFile=hoarder.env
Environment=MEILI_ADDR=http://hoarder-meilisearch:7700
Environment=BROWSER_WEB_URL=http://hoarder-chrome:9222
Environment=DATA_DIR=/data
Environment=NEXTAUTH_URL=http://10.0.0.3:3095

Secret=nextauth-secret,type=env,target=NEXTAUTH_SECRET
Secret=meili-master-key,type=env,target=MEILI_MASTER_KEY
Secret=openai-api-key,type=env,target=OPENAI_API_KEY
