[Unit]
Description=Hydroxide Proton mail bridge

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=registry.gitlab.com/renner0e/hydroxide-podman
ContainerName=hydroxide
AutoUpdate=registry

Network=hydroxide.network
HostName=hydroxide
PublishPort=1143:1143
PublishPort=1025:1025
PublishPort=8080:8080

Volume=hydroxide:/root/.config/hydroxide

## WARNING:
# You may want to use `Exec=serve` instead.
#
# Without these extra args, `hydroxide` will only listen on localhost.
# This makes the service unreachable on the LAN and potentially for
# other containers.
Exec=--smtp-host 0.0.0.0 --smtp-port 1025 --imap-host 0.0.0.0 --imap-port 1143 --carddav-host 0.0.0.0 --carddav-port 8080 serve
