[Unit]
Description=Syslog-ng

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=lscr.io/linuxserver/syslog-ng:latest
ContainerName=syslog-ng
AutoUpdate=registry

Network=
HostName=syslog-ng
PublishPort=514:5514/udp
PublishPort=601:6601/tcp
PublishPort=6514:6514/tcp

Volume=syslog-ng-config:/config
Volume=/var/log:/var/log

Environment=TZ=Etc/UTC
Environment=LOG_TO_STDOUT=true
