[Unit]
Description=ROMM rom manager
Requires=romm-mariadb.service
After=romm-mariadb.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/rommapp/romm:latest
ContainerName=romm
AutoUpdate=registry

Network=romm.network
HostName=romm
PublishPort=80:8080

Volume=romm-resources:/romm/resources
Volume=romm-redis-data:/redis-data
VolumeName=romm-library:/romm/library
VolumeName=romm-assets:/romm/assets
VolumeName=romm-config:/romm/config

EnvironmentFile=romm.env

Secret=romm-mariad-password,type=env,target=DB_PASSWD
Secret=romm-auth-secret-key,type=env,target=ROMM_AUTH_SECRET_KEY
Secret=romm-igdb-client-secret,type=env,target=IGDB_CLIENT_SECRET
Secret=romm-mobygames-api-key,type=env,target=MOBYGAMES_API_KEY
Secret=romm-steamgriddb-api-key,type=env,target=STEAMGRIDDB_API_KEY
Secret=romm-screenscraper-password,type=env,target=SCREENSCRAPER_PASSWORD
