[Unit]
Description=Vaultwarden

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden
AutoUpdate=registry

Network=vaultwarden.network
HostName=vaultwarden
PublishPort=80:80

Volume=vaultwarden-data:/data

Environment=DOMAIN=https://vaultwarden.example.com
