[Unit]
Description=Netbird management

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/netbirdio/management
ContainerName=netbird-management

HostName=netbird-management

Volume=netbird-management:/var/lib/netbird
Volume=netbird-letsencrypt:/etc/letsencrypt
Volume=./management.json:/etc/netbird/management.json

Environment=NETBIRD_STORE_ENGINE_POSTGRES_DSN=

Exec=--port 443 --log-file console --log-level info --disable-anonymous-metrics="$NETBIRD_DISABLE_ANONYMOUS_METRICS" --single-account-mode-domain="$NETBIRD_MGMT_SINGLE_ACCOUNT_MODE_DOMAIN" --dns-domain="$NETBIRD_MGMT_DNS_DOMAIN"
