[Unit]
Description=Movie metadata manager

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/hotio/radarr
ContainerName=radarr
AutoUpdate=registry

Network=radarr.network
HostName=radarr
PublishPort=7878

Volume=radarr-config:/config
Volume=/path/to/media:/data
