[Unit]
Description=calibre-web
After=network-online.target

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=lscr.io/linuxserver/calibre-web:latest
ContainerName=calibre-web
HostName=calibre-web

Network=

Volume=/volumes/calibre-web/config:/config
Volume=/volumes/calibre-web/books:/books
Volume=/volumes/calibre-web/database:/database

Environment=TZ=


