[Unit]
Description=calibre-web
After=network-online.target

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=lscr.io/linuxserver/calibre-web:latest
ContainerName=calibre-web
HostName=calibre-web

PublishPort=8083

Volume=/volumes/books:/books
Volume=calibre-web-config:/config
Volume=calibre-web-database:/database

Environment=TZ=


