[Unit]
Description=Blinko
Requires=blinko-db.service
After=blinko-db.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/blinkospace/blinko
ContainerName=blinko

HostName=blinko
PublishPort=1111:1111

Volume=blinko-data:/app/.blinko

Environment=NODE_ENV=production
#Environment=NEXTAUTH_URL=http://localhost:1111
#Environment=NEXT_PUBLIC_BASE_URL=http://localhost:1111
Environment=DATABASE_URL=postgresql://postgres:$mysecretpassword@blinko-db:5432/postgres

Secret=blinko-nextauth-secret,type=env,target=NEXTAUTH_SECRET
