[Unit]
Description=miniflux
Requires=miniflux-postgres.service
After=miniflux-postgres.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/miniflux:latest
ContainerName=miniflux
AutoUpdate=registry

Network=miniflux.network
HostName=miniflux
PublishPort=80:8080

Environment=DATABASE_URL=postgres://miniflux:secret@miniflux-postgres/miniflux?sslmode=disable
Environment=RUN_MIGRATIONS=1
Environment=CREATE_ADMIN=1
Environment=ADMIN_USERNAME=admin

Secret=miniflux-admin-password,type=env,target=ADMIN_PASSWORD
