[Unit]
Description=Netbook.xyz Quadlet
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target

[Container]
Image=lscr.io/linuxserver/netbootxyz:latest
ContainerName=netboot-xyz
HostName=netboot-xyz
#AutoUpdate=registry

Volume=netboot-xyz-config:/config
Volume=./netboot-xyz/assets:/assets:z

Network=netboot-xyz.network
PublishPort=3000:3000
PublishPort=8082:80
PublishPort=69:69/udp

Environment=PUID=
Environment=PGID=
Environment=TZ=
Environment=PORT_RANGE=30000:30010
Environment=SUBFOLDER=/
Environment=WEB_APP_PORT=3000


