[Unit]
Description=n8n

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.n8n.io/n8nio/n8n
ContainerName=n8n
AutoUpdate=registry

Network=n8n.network
HostName=n8n
PublishPort=5678:5678

Volume=n8n-data:/home/node/.n8n
