[Unit]
Description=Bookmark preservation
Requires=linkwarden-database.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/linkwarden/linkwarden:latest
ContainerName=linkwarden

HostName=linkwarden
PublishPort=3000

Volume=linkwarden-data:/data/data

EnvironmentFile=linkwarden.env

