[Unit]
Description=Netdata monitoring

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/netdata/netdata:stable
ContainerName=netdata
HostName=netdata

AddCapability=SYS_PTRACE
AddCapability=SYS_ADMIN

Network=host

Volume=netdataconfig:/etc/netdata
Volume=netdatalib:/var/lib/netdata
Volume=netdatacache:/var/cache/netdata
Volume=/:/host/root:ro,rslave
Volume=/etc/passwd:/host/etc/passwd:ro
Volume=/etc/group:/host/etc/group:ro
Volume=/etc/localtime:/etc/localtime:ro
Volume=/proc:/host/proc:ro
Volume=/sys:/host/sys:ro
Volume=/etc/os-release:/host/etc/os-release:ro
Volume=/var/log:/host/var/log:ro
Volume=%t/podman/podman.sock:/run/user/1000/podman/podman.sock:ro

