[Unit]
Description=IRC client

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/weechat/weechat:latest-alpine-slim
ContainerName=weechat
AutoUpdate=registry

Network=weechat.network
HostName=weechat

Volume=weechat-home:/home/user

# FIXME: Better way to attach stdin and tty.
# This works with `podman attach weechat`, but may require <ctrl-l>
# Might work better in other terminals, but I think this is an upstream issue
PodmanArgs=-a=stdin -a=stdout -a=stderr --tty=true
