[Unit]
Description=IRC client

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/weechat/weechat:latest-alpine-slim
ContainerName=weechat
HostName=weechat
AutoUpdate=registry

Volume=/volumes/books/weechat/home/user:/home/user

# FIXME: Better way to attach stdin and tty. Quadlets don't seem to support
# this, probably because attaching to containers is weirder than `exec sh` into
# it
PodmanArgs=-a stdin --tty=true
