[Unit]
Description=Glance dashboard

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/glanceapp/glance
ContainerName=glance
AutoUpdate=registry

Network=glance.network
HostName=glance
PublishPort=8080:8080

Volume=glance-config:/app/config

