[Unit]
Description=InvoiceShelf
Requires=invoiceshelf-db.service
After=invoiceshelf-db.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/invoiceshelf/invoiceshelf:nightly
ContainerName=invoiceshelf
AutoUpdate=registry

Network=invoiceshelf
HostName=invoiceshelf
PublishPort=8090:8090

Volume=invoiceshelf_storage:/var/www/html/storage/
Volume=invoiceshelf_modules:/var/www/html/Modules/

EnvironmentFile=invoiceshelf.env

Secret=invoiceshelf-db-pw,type=env,target=POSTGRES_PASSWORD
