[Unit]
Description=Anubis

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/techarohq/anubis:latest
ContainerName=anubis
AutoUpdate=registry

Network=anubis.network
HostName=anubis
PublishPort=8080

Volume=./botPolicy.yaml:/data/cfg/botPolicy.yaml:ro

EnvironmentFile=anubis.env

