[Unit]
Description=betanin

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/sentriz/betanin
ContainerName=betanin
AutoUpdate=registry

Network=betanin.network
HostName=betanin
PublishPort=9393:9393

Volume=betanin-data:/b/.local/share/betanin
Volume=betanin-config:/b/.local/share/config
Volume=betanin-beets:/b/.local/share/beets
Volume=/path/to/music:/music
Volume=/path/to/downloads:/downloads
