[Unit]
Description=Vikunja
Requires=vikunja-mariadb.service
After=vikunja-mariadb.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/vikunja
ContainerName=vikunja
AutoUpdate=registry

Network=vikunja.network
HostName=vikunja
PublishPort=3546:3546

Volume=vikunja-files:/app/vikunja/files

Environment=VIKUNJA_SERVICE_PUBLICURL=https://vikunja.example.com
Environment=VIKUNJA_DATABASE_HOST=vikunja-mariadb
Environment=VIKUNJA_DATABASE_TYPE=mysql
Environment=VIKUNJA_DATABASE_USER=vikunja
Environment=VIKUNJA_DATABASE_DATABASE=vikunja

Secret=vikunja-mysql-password,type=env,target=VIKUNJA_DATABASE_PASSWORD
Secret=vikunja-service-jwtsecret,type=env,target=VIKUNJA_SERVICE_JWTSECRET
