[Unit]
Description=Bookmark Manager


[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/hoarder-app/hoarder:release
ContainerName=hoarder
AutoUpdate=registry

Network=hoarder.network
HostName=hoarder
PublishPort=3000:3000

Volume=hoarder-data:/data

EnvironmentFile=hoarder.env

Secret=nextauth-secret,type=env,target=NEXTAUTH_SECRET
Secret=meili-master-key,type=env,target=MEILI_MASTER_KEY
Secret=openai-api-key,type=env,target=OPENAI_API_KEY
