[Unit]
Description=Hoarder requirement


[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/getmeili/meilisearch:v1.6
ContainerName=hoarder-meilisearch
HostName=hoarder-meilisearch

EnvironmentFile=hoarder.env

Volume=meilisearch:/meili_data
