[Unit]
Description=Invoicerr
Requires=invoicerr-db.service
After=invoicerr-db.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/impre-visible/invoicerr
ContainerName=invoicerr
AutoUpdate=registry

Network=invoicerr.network
HostName=invoicerr
PublishPort=80:80

EnvironmentFile=invoicerr.env

Secret=invoicerr-jwt-secret,type=env,target=JWT_SECRET
