[Unit]
Description=Gaseous ROM manager
Requires=gaseous-mariadb.service
After=gaseous-mariadb.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/gaseousgames/gaseousserver:latest
ContainerName=gaseous
AutoUpdate=registry

Network=gaseous.network
HostName=gaseous
PublishPort=5198:80

Volume=gaseous:/root/.gaseous-server

Environment=TZ=Etc/UTC
Environment=dbhost=gsdb
Environment=dbuser=root
Environment=dbpass=gaseous
Environment=igdbclientid=
Environment=igdbclientsecret=
