[Unit]
Description=Notesnook S3 setup
Requires=notesnook-s3.service
After=notesnook-s3.service

[Service]
Restart=no
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/minio/mc:RELEASE.2024-07-26T13-08-44Z
ContainerName=notesnook-setup-s3
AutoUpdate=registry

Network=notesnook.network
HostName=notesnook-setup-s3

EnvironmentFile=notesnook.env

Exec=bash -c 'until mc alias set minio http://notesnook-s3:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD}; do sleep 1; done; mc mb minio/attachments -p'
