[Unit]
Description=Notesnook mongodb

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/mongo/mongo:7.0.12
ContainerName=notesnook-db
AutoUpdate=registry

Network=notesnook.network
HostName=notesnook-db

Volume=notesnook-dbdata:/data/db
Volume=notesnook-dbdata:/data/configdb

ExecStartPre=sh -c 'printf %s\\n "rs.initiate();" "rs.status();" | mongosh mongodb://notesnook-db:27017'
