[Unit]
Description=
Wants=
After=

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=
ContainerName=
AutoUpdate=registry

AddCapability=
AddDevice=
SecurityLabelDisable=
User=
Label=
UIDMap=
GIDMap=

Network=
HostName=
PublishPort=

Volume=

EnvironmentFile=
Environment=

PodmanArgs=
Exec=
