[Unit]
Description=Penpot
Requires=penpot-backend.service
Requires=penpot-exporter.service
After=penpot-backend.service
After=penpot-exporter.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/penpotapp/frontend
ContainerName=penpot
AutoUpdate=registry

Network=penpot.network
HostName=penpot
PublishPort=9001:8080

Volume=penpot-assets:/opt/data/assets

EnvironmentFile=penpot.env
