[Unit]
Description=Update qbittorrent session IP for tracker
After=qbittorrent.service
After=gluetun.service
BindsTo=gluetun.service
BindsTo=qbittorrent.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/myanonamouse/seedboxapi:latest
ContainerName=seedboxapi
AutoUpdate=registry

Network=container:gluetun
HostName=seedboxapi

Volume=seedboxapi-config:/config

Environment=DEBUG=1
Environment=interval=1

Secret=mam_id,type=env,target=mam_id
