[Unit]
Description=Web assistant

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/peterdemin/kibitzr:latest
ContainerName=kibitzr
AutoUpdate=registry

Network=kibitzr.network
HostName=kibitzr

Volume=kibitzr-root:/root

# NOTE: Initialize a default kibitzr.yml and kibitzr-creds.yml
#Exec=init
Exec=run
