[Unit]
Description=Wger static web server


[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/nginx:stable
ContainerName=wger-nginx
HostName=wger-nginx

PublishPort=80

Volume=./nginx.default.conf:/etc/nginx/conf.d/default.conf
Volume=wger-static:/wger/static:ro
Volume=wger-media:/wger/media:ro

