[Unit]
Description=
After=

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=
ContainerName=
HostName=

Network=

Volume=

Secret=

Environment=
  cache:
    image: redis
    expose:
      - 6379
    volumes:
      - redis-data:/data
    healthcheck:
      test: redis-cli ping
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

