[Unit]
Description=Wger worker


[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/wger/server:latest
ContainerName=wger-worker
HostName=wger-worker

Environment=prod.env
