[Unit]
Description=Kanidm

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/kanidm/server
ContainerName=kanidm
AutoUpdate=registry

Network=kanidm.network
HostName=kanidm
PublishPort=8443:8443

Volume=kanidm:/data
Volume=./server.toml:/data/server.toml
