[Unit]
Description=Invidious postgres

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/postgres:14
ContainerName=invidious-db
AutoUpdate=registry

Network=invidious.network
HostName=invidious-db

Volume=invidious-db:/var/lib/postgresql/data

Environment=POSTGRES_DB=invidious
Environment=POSTGRES_USER=kemal

Secret=invidious-db-pw,type=env,target=POSTGRES_PASSWORD
