[Unit]
Description=Matrix Synapse Quadlet
Requires=matrix-db.service
After=matrix-db.service

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/matrixdotorg/synapse:latest
ContainerName=matrix
AutoUpdate=registry

Network=matrix.network
HostName=matrix
PublishPort=8008:8008

Volume=matrix-db:/data

Environment=VIRTUAL_HOST=matrix.example.com
Environment=VIRTUAL_PORT=8008
Environment=LETSENCRYPT_HOST=matrix.example.com
Environment=SYNAPSE_SERVER_NAME=matrix.example.com
Environment=SYNAPSE_REPORT_STATS=no
