[Unit]
Description=LibreNMS syslogng
After=librenms.service
After=librenms-redis.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/librenms/librenms:latest
ContainerName=librenms-syslogng
AutoUpdate=registry

Network=librenms.network
HostName=librenms-syslogng
PublishPort=514:514/tcp
PublishPort=514:514/udp

AddCapability=NET_ADMIN
AddCapability=NET_RAW

Volume=librenms-data:/data

EnvironmentFile=librenms.env
EnvironmentFile=db.env
EnvironmentFile=tz.env

Environment=SIDECAR_SYSLOGNG=1

Secret=librenms-db-pw,type=env,target=DB_PASSWORD
