[Unit]
Description=LibreNMS
After=librenms-db
After=librenms-redis
After=librenms-msmtpd
Wants=librenms-dispatcher
Wants=librenms-syslogng
Wants=librenms-snmptrapd

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/librenms/librenms:latest
ContainerName=librenms
AutoUpdate=registry

AddCapability=NET_ADMIN
AddCapability=NET_RAW

Network=
HostName=librenms
PublishPort=8000:8000/tcp

Volume=librenms-data:/data

EnvironmentFile=librenms.env
EnvironmentFile=tz.env
EnvironmentFile=db.env

Secret=librenms-db-pw,type=env,target=DB_PASSWORD
