[Unit]
Description=LibreNMS DB

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/mariadb:10
ContainerName=librenms-db
AutoUpdate=registry

Network=librenms.network
HostName=librenms-db

Volume=librenms-db:/var/lib/mysql

EnvironmentFile=tz.env
EnvironmentFile=mariadb.env

Secret=librenms-db-pw,type=env,target=MYSQL_PASSWORD

Exec=mysqld --innodb-file-per-table=1 --lower-case-table-names=0 --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
