[Unit]
Description=LibreNMS dispatcher
After=librenms.container
After=librenms-redis.container

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/librenms/librenms:latest
ContainerName=librenms-dispatcher
AutoUpdate=registry

Network=librenms.network
HostName=librenms-dispatcher

Volume=librenms-data:/data

EnvironmentFile=librenms.env
EnvironmentFile=tz.env
EnvironmentFile=db.env

Environment=DISPATCHER_NODE_ID=dispatcher1
Environment=SIDECAR_DISPATCHER=1

Secret=librenms-db-pw,type=env,target=DB_PASSWORD
