[Unit]
Description=LibreNMS snmptrapd
After=librenms.service
After=librenms-redis.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/librenms/librenms:latest
ContainerName=librenms-snmptrapd
AutoUpdate=registry

Network=librenms.network
HostName=librenms-snmptrapd
PublishPort=162:162/tcp
PublishPort=162:162/udp

AddCapability=NET_ADMIN
AddCapability=NET_RAW

Volume=librenms-data:/data

EnvironmentFile=librenms.env
EnvironmentFile=tz.env
EnvironmentFile=db.env

Environment=SIDECAR_SNMPTRAPD=1

Secret=librenms-db-pw,type=env,target=DB_PASSWORD
