[Unit]
Description=Ebook manager

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=lscr.io/linuxserver/calibre:latest
ContainerName=calibre

Network=calibre.network
HostName=calibre
PublishPort=8080

Volume=calibre-config:/config

Environment=TZ=Etc/UTC
