[Unit]
Description=Graylog datanode

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/graylog/graylog-datanode:6.1
ContainerName=graylog-datanode
AutoUpdate=registry

Network=graylog
HostName=graylog-datanode
PublishPort=8999:8999
PublishPort=9200:9200
PublishPort=9300:9300

Volume=graylog-datanode:/var/lib/graylog-datanode

Environment=GRAYLOG_DATANODE_ID_FILE=/var/lib/graylog-datanode/node-id
Environment=GRAYLOG_DATANODE_MONGODB_URI=mongodb://graylog-db:27017/graylog

Secret=graylog-password-secret,type=env,target=GRAYLOG_DATANODE_PASSWORD_SECRET

