[Unit]
Description=Graylog
Wants=graylog-db
Wants=graylog-database
After=graylog-db
After=graylog-database

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/graylog:6.1
ContainerName=graylog
AutoUpdate=registry

Network=graylog
HostName=graylog
PublishPort=5044
PublishPort=5044:5044/tcp
PublishPort=5140:5140/udp
PublishPort=5140:5140/tcp
PublishPort=5555:5555/tcp
PublishPort=5555:5555/udp
PublishPort=9000:9000/tcp
PublishPort=12201:12201/tcp
PublishPort=12201:12201/udp
PublishPort=13301:13301/tcp
PublishPort=13302:13302/tcp

Volume=graylog-data:/usr/share/graylog/data/data

Environment=GRAYLOG_NODE_ID_FILE=/usr/share/graylog/data/data/node-id
Environment=GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:9000
Environment=GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9000
Environment=GRAYLOG_MONGODB_URI=mongodb://graylog-db:27017/graylog

Secret=graylog-password-secret,type=env,target=GRAYLOG_PASSWORD_SECRET
Secret=graylog-root-password-sha2,type=env,target=GRAYLOG_ROOT_PASSWORD_SHA2

Entrypoint=/usr/bin/tini -- /docker-entrypoint.sh

