[Unit]
Description=System monitoring at a glance

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/nicolargo/glances:$version_tag
ContainerName=glances
HostName=glances
AutoUpdate=registry

Volume=%t/podman/podman.sock:/run/user/1000/podman/podman.sock:ro
Volume=/etc/os-release:/etc/os-release:ro
Volume=./glances.conf:/glances/conf/glances.conf
