[Unit]
Description=Filestash wopi

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/collabora/code:24.04.10.2.1
ContainerName=filestash-wopi
AutoUpdate=registry

Network=filestash.network
HostName=filestash-wopi
PublishPort=9980:9980

Environment=extra_params=--o:ssl.enable=false
Environment=aliasgroup1="https://.*:443"

Exec=bash -c '/start-collabora-online.sh cool'
