[Unit]
Description=Filestash
Wants=filestash-wopi.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/machines/filestash:latest
ContainerName=filestash
AutoUpdate=registry

Network=filestash.network
HostName=filestash
PublishPort=8334:8334

Volume=filestash:/app/data/state

Environment=APPLICATION_URL=https://filestash.example.com
Environment=CANARY=true
Environment=OFFICE_URL=http://filestash-wopi:9980
Environment=OFFICE_FILESTASH_URL=http://filestash:8334
Environment=OFFICE_REWRITE_URL=http://127.0.0.1:9980

