[Unit]
Description=Dashboard
After=caddy.service

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=docker.io/lissy93/dashy:$dashy_version
ContainerName=dashy
HostName=dashy
AutoUpdate=registry

Network=protonvpn

Volume=./user-data:/app/user-data

Environment=NODE_ENV=production
